/* Overrides for the material style */

/* Both input and output */

.slide pre code {
    display: block;
    line-height: 1.2;
    background: #eee;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 80%;
}

/* Code input, we need to undo unwanted changes here */

.slide pre.sourceCode code {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}
