
/* White */

h2.white {
    color: white;
}

p.white {
    color: white;
}

p.white a {
    color: white;
}

/* Both input and output */

.slide pre code {
    display: block;
    line-height: 1.2;
    background: #eee;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 80%;
}

/* Code input, we need to undo unwanted changes here */

.slide pre.sourceCode code {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Full page figure */

.fullpage img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.fullpage.width img {
    width: 100%;
    max-height: none;
}

.fullpage.height img {
    height: 100%;
    max-width: none;
}
