/* overrides for the ribbon style */

/* Both input and output */

.slide pre code {
    display: block;
    line-height: 1.2;
    background: #eee;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 80%;
}

/* Code input, we need to undo unwanted changes here */

.slide pre.sourceCode code {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Fix the H1-H2 mixup */

.slide h1 {
	margin-bottom:34px;
	font:bold 50px/1 PT Sans Narrow, sans-serif;
	}
.slide h2 {
	margin-bottom:16px;
	font:bold 30px/1 PT Sans Narrow, sans-serif;
	}

.shout h1 {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	text-align:center;
	line-height:1;
	font-size:150px;
	transform:translateY(-50%);
	}
